# credentials neo4j
credentials_local.txt
credentials_cloud.txt

# dataset
JTH/*
JTH/candidates.csv
JTH/jobs.csv
JTH/applications.csv
JTH/dataset_card.md

# Autre
.DS_Store
__pycache__/
__pycache__/*
test.ipynb
*.ttl
