# credentials neo4j
credentials_cloud.txt
credentials_local.txt

# dataset
JTH/candidates.csv
JTH/jobs.csv
JTH/applications.csv
JTH/*

# Autre
.DS_Store
__pycache__/
__pycache__/*

# test files
test.ipynb

# export files
exported_graph.ttl
graph.ttl